.app-header-title {
    margin-bottom: 0px !important;
    font-size: 72px !important;
    font-family: Muli;
    font-style: normal;
    font-weight: bold !important;
    line-height: 56px !important;
    /* identical to box height, or 78% */
    color: #252628 !important;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.app-header-text {
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    mix-blend-mode: normal;
}